$primary: #409eff;
$success: #5cb87a;
$warning: #e6a23c;
$info: #8896b3;
$error: #f00;

$backgroundWhite: white;
$backgroundBlack: black;
$backgroundCode: rgb(236, 236, 236);

$primaryText: #303133;
$regularText: #606266;
$secondaryText: #909399;
$placeholder: #c0c4cc;

$boderBase: #dcdfe6;
$boderLight: #e4e7ed;
$boderLighter: #ebeef5;
$boderExtralight: #f2f6fc;

$topHeight: 60px;
$sideWidth: 200px;

$scrollbarBg: rgb(226, 226, 226);
$scrollbarHover: #438ede59;
